.edit-thread-container {
    padding: 20px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.edit-thread-container h1 {
    font-family: "Orbitron", serif;
    font-size: 1.8rem;
    text-align: center;
}

.edit-thread-container form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #76C7E8;
    padding: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: 1.5rem;
    text-align: center;
}

form textarea,
form input,
form select {
    padding: 10px;
    font-size: 1rem;
    background-color: #000;
    border: 1px solid #76C7E8;
    color: #fff;
    font-family: "Electrolize", serif;
    border-radius: 0;
    transition: border-color 0.4s ease-in-out;
}

form textarea {
    height: 100px;
}

form textarea:focus,
form input:focus,
form select:focus {
    border-radius: 0;
    outline: none;
    border-color: #fff;
}

form button {
    cursor: pointer;
    border: 1px solid #76C7E8;
    padding: 10px;
    font-size: 1.5rem;
    background-color: #000;
    color: #76C7E8;
    font-family: "Electrolize", serif;
    transition: scale 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
}

form button:hover {
    scale: 0.95;
    color: #fff;
    border: 1px solid #fff;
}

textarea::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #76C7E8;
    border-radius: 5px;
    cursor: pointer;
}

textarea::-webkit-scrollbar-track {
    background-color: #323131;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}