.register-container {
    padding: 20px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url('../images/register_background.jpg');
    position: relative;
}

.register-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
    pointer-events: none;
}

.register-container h2 {
    font-family: "Orbitron", serif;
    font-size: 3rem;
    position: relative;
    z-index: 2;
    animation: flyIn 1s ease-in-out;
}

.register-container form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #76C7E8;
    padding: 25px;
    position: relative;
    z-index: 2;
    animation: flyIn 1s ease-in-out;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.4rem;
}

form input {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #000;
    border: 1px solid #76C7E8;
    color: #fff;
    font-family: "Electrolize", serif;
    border-radius: 0;
    transition: border-color 0.4s ease-in-out;
}

form input:focus {
    border-radius: 0;
    outline: none;
    border-color: #fff;
}

form label {
    text-align: center;
}

form button {
    cursor: pointer;
    border: 1px solid #76C7E8;
    padding: 10px;
    font-size: 2rem;
    background-color: #000;
    color: #76C7E8;
    font-family: "Electrolize", serif;
    transition: scale 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
}

form button:hover {
    scale: 0.95;
    color: #fff;
    border: 1px solid #fff;
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}