.thread-container {
    background-image: url('../images/thread_background.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    height: 80%;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.thread-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
    pointer-events: none;
}

.thread-container h1,
.posts-container h2 {
    font-family: "Orbitron", serif;
    font-size: 2rem;
    position: relative;
    z-index: 2;
}

.thread-container .description {
    width: 60%;
    font-size: 1.3rem;
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 10px 0;
}

.thread-container .category,
.thread-container .created-by {
    font-size: 1.1rem;
    position: relative;
    z-index: 2;
}

.thread-container .created-at {
    font-size: 1rem;
    position: relative;
    z-index: 2;
    text-align: right;
    width: 60%;
}

.btns-container {
    display: flex;
    gap: 10px;
    width: 60%;
    border-bottom: 1px solid #76C7E8;
    padding: 5px 0 15px 0;
}

.btns-container button {
    cursor: pointer;
    border: 1px solid #76C7E8;
    padding: 10px 15px;
    font-size: 1.4rem;
    background-color: #000;
    color: #76C7E8;
    font-family: "Electrolize", serif;
    transition: scale 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
    position: relative;
    z-index: 2;
}

.btns-container button:hover {
    scale: 0.95;
    color: #fff;
    border: 1px solid #fff;
}

.posts-container {
    width: 60%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.posts-container .post-prompt {
    font-size: 1.2rem;
    color: #fff;
}

.posts-container .add-post {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.posts-container .add-post textarea {
    padding: 10px;
    font-size: 1rem;
    background-color: #000;
    border: 1px solid #76C7E8;
    color: #fff;
    font-family: "Electrolize", serif;
    border-radius: 0;
    transition: border-color 0.4s ease-in-out;
    width: 80%;
}

.posts-container .add-post textarea:focus {
    border-radius: 0;
    outline: none;
    border-color: #fff;
}

.posts-container .add-post button {
    cursor: pointer;
    border: 1px solid #76C7E8;
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: #000;
    color: #76C7E8;
    font-family: "Electrolize", serif;
    transition: scale 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out;
    text-align: center;
    width: 20%;
}

.posts-container .add-post button:hover {
    scale: 0.9;
    color: #fff;
    border: 1px solid #fff;
}

.posts-container::-webkit-scrollbar {
    display: none;
}

.post {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.post .author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    flex-wrap: nowrap;
    text-align: center;
}

.icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 80px;
}

.post .post-content {
    color: #fff;
}

.post #delete-btn,
.edit #edit-btn {
    background-color: #000;
    border: 0;
    cursor: pointer;
    transition: scale 0.4s ease-in-out;
}

.post #delete-btn g,
.edit #edit-btn g {
    transition: fill 0.4s ease-in-out;
}

.post #delete-btn:hover g {
    fill: #C20114;
}

.post #delete-btn:hover,
.edit #edit-btn:hover {
    scale: 1.1;
}

.edit #edit-btn:hover g {
    fill: #fff;
}

textarea::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #76C7E8;
    border-radius: 5px;
    cursor: pointer;
}

textarea::-webkit-scrollbar-track {
    background-color: #323131;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}